VITE_FEEDBACK_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSeAd5ECP7PPRBcXGZMgS-Lj1Nb1_u7BGGYScanwSYcQNTFoZA/viewform
VITE_SPREADSHEET_ID=1voC6OkdqGtADsM_ExK9Aovqo5kFNcdzbTZuVUApi8jo
VITE_SHEET_GID=0
